:host {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 64px 1fr auto;
  grid-template-areas:
    'header header'
    'sidenav main'
    'footer footer';
  height: 100dvh;
}

app-header {
  grid-area: header;
}

app-sidenav {
  grid-area: sidenav;
}

main {
  grid-area: main;
  overflow: auto;
  padding: 1.5rem;
}

app-footer {
  grid-area: footer;
}
